<div class="modal-header">
    <h3 class="modal-title">Пользователь не найден</h3>
</div>
<div class="modal-body">
    <h4>
        Карточка не привязана ни к одному из пользователей.
    </h4>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-lg btn-default" ng-click="closeDialog()">Закрыть</button>
</div>